body{
    font-family: Arial, sans-serif;
    background: #f3f5fc;
}

.logo{
    margin: 20px;
    height: 80px;
    border-radius: 80px;
}

.container{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.input{
    width: 60%;
    text-align: center;
}

.textInput{
    justify-content: center;
    width: 80%;
    min-height: 420px;
    padding: 25px 25px;
    border-radius: 50px;
    border: none;
    font-size: 25px;
    background: none;
    color: #052051;
    outline: none;
    resize: none;
    box-shadow: 0px 11px 32px -8px rgba(0, 0, 0, 0.5);
}

.textInput::placeholder{
    color: #052051;
}

.regla{
    color: #052051;
}

.botones{
    width: 80%;
    margin: 20px 40px;
    text-align: center;
}

.btnEncriptar, .btnDesencriptar, .copiar{
    width: 200px;
    height: 50px;
    font-size: 20px;
    border-radius: 10px;
    margin: 18px 40px;
    cursor: pointer;
    color: #052051;
}

.btnEncriptar:hover, .btnDesencriptar:hover, .copiar:hover{
    background: #052051;
    color: white;
}

.encriptado{
    width: 30%;
    text-align: center;     
}

.textImagen{
    width: 80%;
    min-height: 420px;
    background: white;
    border-radius: 50px;
    border: none;
    padding: 25px 25px;
    text-align: center;
    font-size: 20px;
    display: block;
}

.muñeco{
    height: 260px;
}

.cifrado{
    display: none;
}


.textEncrip{
    width: 80%;
    min-height: 420px;
    padding: 25px 25px;
    border-radius: 50px;
    border: none;
    font-size: 20px;
    outline: none;
    resize: none;
}

.textEncrip::placeholder{
    color: #052051;
    position: absolute; /* Cambia la posición del placeholder a absoluta */
    top: 50%; /* Posición vertical centrada */
    left: 50%; /* Posición horizontal centrada */
    transform: translate(-50%, -50%); /* Centra el texto */
}

@media screen and (max-width: 600px) {
    .container{
        flex-direction: column;
    }

    .textInput{
        width: 450px;
    }

    .botones{
        display: flex;
    }

    .textImagen{
        width: 450px;
    }

    .textEncrip{
        width: 450px;
    }

    .cifrado{
        width: 450px;
    }
}


/* body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    margin-bottom: 30px;
}

textarea {
    width: 100%;
    min-height: 200px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#copyButton {
    background-color: #28a745;
}

#copyButton:hover {
    background-color: #218838;
}

#outputText {
    background-color: #f5f5f5;
}

*/
